<div (click)="toggle_navbar()" class="container">
    <div class="row">
        <div class="department-container">
            <div class="heading">
                College Connect Program
            </div>
            <div class="dept-cards">

                <div class="cg-info">
                    <div class="cg-img-container cg1">
                        <!-- <img class="cg-img" src="../../assets/cg-images/Image 2.png"> -->
                    </div>
                    <div class="cg-details">
                        <div class="cg-name">
                            Prasham Shah
                        </div>
                        <div class="cg-pos">
                            Hospitality and PR Head <br> +91 93284 86228
                        </div>
                        <div class="cg-social">
                            <a class="cg-link" href="https://www.instagram.com/prasham1012/"><i
                                    class="fa fa-3x fa-instagram"></i></a>
                            <a class="cg-link" href="https://www.facebook.com/prasham.shah.140"><i
                                    class="fa fa-3x fa-facebook"></i></a>
                            <a class="cg-link" href="https://api.whatsapp.com/send/?phone=919328486228&text&app_absent=0"><i class="fa fa-3x fa-whatsapp"></i></a>
                            <a class="cg-link" href="https://twitter.com/PrashamShah19"><i
                                    class="fa fa-3x fa-twitter"></i></a>
                            <a class="cg-link" href="https://www.linkedin.com/in/prasham-shah-70a36b193/"><i
                                    class="fa fa-3x fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cg-info">
                    <div class="cg-img-container cg2">
                        <!-- <img class="cg-img" src="../../assets/cg-images/Image 2.png"> -->
                    </div>
                    <div class="cg-details">
                        <div class="cg-name">
                            Nikhil Kalwani
                        </div>
                        <div class="cg-pos">
                            Hospitality and PR Head <br> +91 78690 13233
                        </div>
                        <div class="cg-social">
                            <a class="cg-link" href="https://instagram.com/nikk_kalwani"><i
                                    class="fa fa-3x fa-instagram"></i></a>
                            <a class="cg-link" href="https://www.facebook.com/nikhil.kalwani.37"><i
                                    class="fa fa-3x fa-facebook"></i></a>
                            <a class="cg-link" href="https://api.whatsapp.com/send?phone=+918529164274"><i class="fa fa-3x fa-whatsapp"></i></a>
                            <a class="cg-link" href="https://twitter.com/NikhilKalwani3"><i
                                    class="fa fa-3x fa-twitter"></i></a>
                            <a class="cg-link" href="https://www.linkedin.com/in/nikhil-kalwani-52b51719b"><i
                                    class="fa fa-3x fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div>
        <div class="department-container">
            <div class="heading">
                Competitions & LYP
            </div>
            <div class="dept-cards">

                <div class="cg-info">
                    <div class="cg-img-container cg4">
                        <img class="cg-img" src="../../assets/cg-images/Image 2.png">
                    </div>
                    <div class="cg-details">
                        <div class="cg-name">
                            Ujjwal Soni
                        </div>
                        <div class="cg-pos">
                            Competitions and LYP Head <br> +91 99299 19437
                        </div>
                        <div class="cg-social">
                            <a class="cg-link" href="https://www.instagram.com/ujjwal18_/"><i
                                    class="fa fa-3x fa-instagram"></i></a>
                            <a class="cg-link" href="https://www.facebook.com/profile.php?id=100007865385033"><i
                                    class="fa fa-3x fa-facebook"></i></a>
                            <a class="cg-link" href="https://api.whatsapp.com/send?phone=+919929919437"><i
                                    class="fa fa-3x fa-whatsapp"></i></a>
                            <a class="cg-link" href="https://twitter.com/Anshuma14441895"><i class="fa fa-3x fa-twitter"></i></a>
                            <a class="cg-link" href="https://www.linkedin.com/in/ujjwal-soni-9ba4b0169/"><i
                                    class="fa fa-3x fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cg-info">
                    <div class="cg-img-container cg5">
                        <img class="cg-img" src="../../assets/cg-images/Image 2.png">
                    </div>
                    <div class="cg-details">
                        <div class="cg-name">
                            Harmeet Singh
                        </div>
                        <div class="cg-pos">
                            Competitions and LYP Head <br> +91 76772 94007
                        </div>
                        <div class="cg-social">
                            <a class="cg-link" href="https://www.instagram.com/harmeet____/"><i
                                    class="fa fa-3x fa-instagram"></i></a>
                            <a class="cg-link" href="https://www.facebook.com/harmeet.saluja.16"><i
                                    class="fa fa-3x fa-facebook"></i></a>
                            <a class="cg-link" href="https://api.whatsapp.com/send?phone=+917677294007"><i
                                    class="fa fa-3x fa-whatsapp"></i></a>
                            <a class="cg-link" href="https://twitter.com/356c213091ed412"><i class="fa fa-3x fa-twitter"></i></a>
                            <a class="cg-link" href="https://www.linkedin.com/in/harmeet-singh-saluja-1b79a116b/"><i
                                    class="fa fa-3x fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="department-container">
            <div class="heading">
                Media
            </div>
            <div class="dept-cards">
                <div class="cg-info">
                    <div class="cg-img-container cg6">
                        <img class="cg-img" src="../../assets/cg-images/Image 2.png">
                    </div>
                    <div class="cg-details">
                        <div class="cg-name">
                            Shubh Shah
                        </div>
                        <div class="cg-pos">
                            Media Head <br> +91 91069 47473
                        </div>
                        <div class="cg-social">
                            <a class="cg-link" href="https://instagram.com/the.shubh_shah"><i
                                    class="fa fa-3x fa-instagram"></i></a>
                            <a class="cg-link" href="https://api.whatsapp.com/send?phone=+919106947473"><i
                                    class="fa fa-3x fa-whatsapp"></i></a>
                            <a class="cg-link" href="mailto:shubh@moodi.org"><i class="fa fa-3x fa-envelope"></i></a>
                            <a class="cg-link" href="https://www.linkedin.com/in/shubh-shah-51a83a171"><i
                                    class="fa fa-3x fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cg-info">
                    <div class="cg-img-container cg7">
                        <img class="cg-img" src="../../assets/cg-images/Image 2.png">
                    </div>
                    <div class="cg-details">
                        <div class="cg-name">
                            Gargee Barke
                        </div>
                        <div class="cg-pos">
                            Media Head <br> 91 97690 43571
                        </div>
                        <div class="cg-social">
                            <a class="cg-link" href="https://instagram.com/gargee_barke"><i
                                    class="fa fa-3x fa-instagram"></i></a>
                            <a class="cg-link" href="https://api.whatsapp.com/send?phone=+919769043571"><i
                                    class="fa fa-3x fa-whatsapp"></i></a>
                            <a class="cg-link" href="mailto:gargee@moodi.org"><i class="fa fa-3x fa-envelope"></i></a>
                            <a class="cg-link" href="https://www.linkedin.com/in/gargee-barke-5a9175170"><i
                                    class="fa fa-3x fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="department-container">
            <div class="heading">
                Developer Team
            </div>
            <div class="dept-cards">

                <div class="cg-info">
                    <div class="cg-img-container cg3">
                        <!-- <img class="cg-img" src="../../assets/cg-images/Image 2.png"> -->
                    </div>
                    <div class="cg-details">
                        <div class="cg-name">
                            Divyansh Natani
                        </div>
                        <div class="cg-pos">
                            Web & Tech Head <br> +91 73570 79384
                        </div>
                        <div class="cg-social">
                            <a class="cg-link" href="https://www.instagram.com/anshuman__rathore/"><i
                                    class="fa fa-3x fa-instagram"></i></a>
                            <a class="cg-link" href="https://www.facebook.com/rathore.rathore.anshuman"><i
                                    class="fa fa-3x fa-facebook"></i></a>
                            <a class="cg-link" href="9602192953"><i class="fa fa-3x fa-whatsapp"></i></a>
                            <a class="cg-link" href="https://twitter.com/Anshuma14441895"><i
                                    class="fa fa-3x fa-twitter"></i></a>
                            <a class="cg-link" href="https://www.linkedin.com/in/anshuman-singh-rathore-57a36b186"><i
                                    class="fa fa-3x fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cg-info">
                    <div class="cg-img-container cg8">
                        <!-- <img class="cg-img" src="../../assets/cg-images/Image 2.png"> -->
                    </div>
                    <div class="cg-details">
                        <div class="cg-name">
                            Zeel Shah
                        </div>
                        <div class="cg-pos">
                            Design Head <br> +91 62648 37310
                        </div>
                        <div class="cg-social">
                            <a class="cg-link" href="https://www.instagram.com/anshuman__rathore/"><i
                                    class="fa fa-3x fa-instagram"></i></a>
                            <a class="cg-link" href="https://www.facebook.com/rathore.rathore.anshuman"><i
                                    class="fa fa-3x fa-facebook"></i></a>
                            <a class="cg-link" href="9602192953"><i class="fa fa-3x fa-whatsapp"></i></a>
                            <a class="cg-link" href="https://twitter.com/Anshuma14441895"><i
                                    class="fa fa-3x fa-twitter"></i></a>
                            <a class="cg-link" href="https://www.linkedin.com/in/anshuman-singh-rathore-57a36b186"><i
                                    class="fa fa-3x fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
    </div>
</div>