<div class="container">
    <div class="heading">
        Mood Indigo Premier League
    </div>
    <div class="sub-heading">
        Rules
    </div>
    <ul class="main">
        <li>
            The participating teams in auctions get disintegrated for the Premier League and all 3 members of a team
            play as individual players.
        </li>
        <li>
            All members of the team are allotted the same players bought by them in auction.
        </li>
        <li>
            The players bought are divided into 4 categories : Batsmen, Bowler, All Rounder and Wicketkeeper
        </li>
        <li>
            In every match each participant has to nominate 3 players from his set of players. One of these 3 players
            would be MVP who will get double points
        </li>
        <li>
            Nominations have to be made prior to toss i.e 30 mins before match time
        </li>
        <li>
            The 3 players selected must include players from at least 2 categories
        </li>
        <li>
            Then based on performance of players in the actual match, these 3 nominated players will be given points on
            certain set criterias as follows:
            <div class="type">
                Batting
            </div>
            <ul style="list-style-type:none;">
                <li>+ 1 point for every run scored</li>
                <li> + 8 points for half century</li>
                <li> +16 points for century (only century points then and not of half century as well i.e. not 24
                    points)
                </li>
                <li> -10 points for duck out

                </li>
            </ul>
            <div class="type">
                Bowling
            </div>
            <ul style="list-style-type:none;">
                <li>+ 25 for every wicket
                </li>
                <li> + 8 for 4 wicket haul</li>
                <li> + 16 for 5 wicket haul
                </li>
            </ul>
            <div class="type">
                Fielding
            </div>
            <ul style="list-style-type:none;">
                <li>+ 8 for taking a catch
                </li>
                <li> + 12 points for stumping</li>
                <li> + 12 points for a direct runout
                </li>
                <li>
                    + 6 points to thrower involved in runout
                </li>
                <li>
                    +6 points to catcher involved in runout
                </li>
            </ul>
        </li>
        <li>
            Based on this scoring system points will be calculated for each participant and standings would be updated
            after every match
        </li>
        <li>
            No points are awarded for any action in super over
        </li>
        <li>
            A substitute player can only earn points via fielding
        </li>
    </ul>
    <div class="type">
        Note:
        In case of any discrepancy/misunderstanding during the entire league, the decision of the organizers would be
        final.

    </div>
</div>