<div class="container">
    <div class="row">
        <div class="team-container">
            <div class="team-name">
                CSK
            </div>
            <div *ngFor="let p of csk" class="team-player">
                <div class="player-details">
                    <div>{{p.name}}</div>
                    <div>{{p.rating}}</div>
                </div>
            </div>
        </div>
        <div class="team-container">
            <div class="team-name">
                KXIP
            </div>
            <div *ngFor="let p of kxip" class="team-player">
                <div class="player-details">
                    <div>{{p.name}}</div>
                    <div>{{p.rating}}</div>
                </div>
            </div>
        </div>
        <div class="team-container">
            <div class="team-name">
                RCB
            </div>
            <div *ngFor="let p of rcb" class="team-player">
                <div class="player-details">
                    <div>{{p.name}}</div>
                    <div>{{p.rating}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="team-container">
            <div class="team-name">
                MI
            </div>
            <div *ngFor="let p of mi" class="team-player">
                <div class="player-details">
                    <div>{{p.name}}</div>
                    <div>{{p.rating}}</div>
                </div>
            </div>
        </div>
        <div class="team-container">
            <div class="team-name">
                DC
            </div>
            <div *ngFor="let p of dc" class="team-player">
                <div class="player-details">
                    <div>{{p.name}}</div>
                    <div>{{p.rating}}</div>
                </div>
            </div>
        </div>
        <div class="team-container">
            <div class="team-name">
                KKR
            </div>
            <div *ngFor="let p of kkr" class="team-player">
                <div class="player-details">
                    <div>{{p.name}}</div>
                    <div>{{p.rating}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="team-container">
            <div class="team-name">
                SRH
            </div>
            <div *ngFor="let p of srh" class="team-player">
                <div class="player-details">
                    <div>{{p.name}}</div>
                    <div>{{p.rating}}</div>
                </div>
            </div>
        </div>
        <div class="team-container">
            <div class="team-name">
                RR
            </div>
            <div *ngFor="let p of rr" class="team-player">
                <div class="player-details">
                    <div>{{p.name}}</div>
                    <div>{{p.rating}}</div>
                </div>
            </div>
        </div>
    </div>
</div>