.container {
    margin-left: 20vw;
    padding-left: 3vw;
    padding-top: 4vw;
    /* padding-top: 5vw; */
    height: auto;
    /* background-color: #29B6F6; */
    width: 80vw;
    padding-bottom: 3vw;
    position: relative;
}
li{
    font-size: 1.5vw;
}
.main{
    width: 70vw;
}

th, td {
    border: solid white;
    padding: 0.5vw;
  }

a {
    color: unset;
}

.background{
    width: 85vw;
    margin-left: 20vw;
    height: 100vw;
    position: fixed;
    background-image: url("../../../assets/IPL/v1.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0vw -18vw;
    opacity: 0.6;
}



@media only screen and (max-width: 600px)
{
    .container {
        margin-left: 5vw;
        padding-left: 0;
        margin-top: 5vw;
        /* padding-top: 5vw; */
        height: auto;
        width: 100%;
        padding-bottom: 3vw;
        position: relative;
    }
    li {
        font-size: 5.5vw;
    }
    h1{
        margin-left: 10vw;
    }
    .background{
        margin-top: 13vw;
        background-size: cover;
        background-position: center -18vw;
        width: 108vw;
        margin-left: 0vw;
    }
}