.container {
    margin-left: 20vw;
    padding-left: 3vw;
    padding-top: 6vw;
    /* padding-top: 5vw; */
    height: auto;
    /* background-color: #29B6F6; */
    background-image: linear-gradient(to right, #B721FF, #21D4FD);
    width: 80vw;
    padding-bottom: 3vw;
    position: relative;
}
li{
    font-size: 1.5vw;
}
.main{
    width: 70vw;
}

th, td {
    border: solid #2A0645;
    padding: 0.5vw;
  }

  th{
      background-color: #2A0645;
      color: #FAFAFA;
  }
table{
    border-spacing: 0px;
    border-collapse: collapse;
}
a {
    color: unset;
}

.min-container{
    margin: 2vw 2vw;
    padding: 2vw 2vw;
    background-color: #FAFAFA;
    color: #2A0645;
    border-radius: 1vw;
}

h2{
    /* text-align: center; */
    text-decoration: underline;
}

@media only screen and (max-width: 600px)
{
    .container {
        margin-left: 5vw;
        padding-left: 0;
        margin-top: 5vw;
        /* padding-top: 5vw; */
        height: auto;
        background-color: #29B6F6;
        width: 100%;
        padding-bottom: 3vw;
        position: relative;
    }
    li {
        font-size: 5.5vw;
    }
    h1{
        margin-left: 10vw;
    }
}