<div class="container">
    <div class="min-container">

        <h1> Guidelines</h1>
        <ol class="main">
            <h2>Social Media</h2>
            <li>Like, follow, and subscribe to our official handle of Mood Indigo, IIT Bombay on Instagram, Facebook,
                Twitter, LinkedIn and Youtube so that your shares can be tracked.
            </li>
            <li>To earn Points for,
                <table>
                    <thead>
                        <tr>
                            <th>Facebook</th>
                            <th>Instagram</th>
                            <th>LinkedIn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Make sure you first update your Facebook id from the edit profile tab and follow the
                                official Mood Indigo page <a href="https://www.facebook.com/iitbombay.moodi">here</a> .</td>
                            <td>Make sure you first update your Instagram id from the edit profile tab and follow the
                                official Mood Indigo page <a href="https://www.instagram.com/iitbombay.moodi/">here</a> .
                            </td>
                            <td>Make sure you first update your LinkedIn link in your edit profile and follow the official
                                Mood Indigo page <a href="https://www.linkedin.com/company/mood-indigo/">here</a> .
                            </td>
                        </tr>
                        <tr>
                            <td>If you reshare a shared post then you won’t get points.</td>
                            <td>You need to follow the <a href="https://www.instagram.com/indigo_squad_2020/">account
                                    CCP</a>, we will follow back and you need to accept.</td>
                            <td>You need to have this sentence in your headline on your LinkedIn account - ‘Indigo Squad
                                Member at Mood Indigo’</td>
                        </tr>
                        <tr>
                            <td>
                                You need to like and share the new posts to earn social media share points
                            </td>
                            <td>
                                You need to like and share the new posts to your story to earn social media share points
                            </td>
                            <td>
                                Find this video tutorial on how to update your LinkedIn profile- here
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>If you share it with close friends then you won’t get points.</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
    
            </li>
            <li>Sharing the old posts will not earn you points. The post has to be shared within 48 hours of the timeframe
                from the time it is posted on our official handles. Only the topmost post on MI Corner(on the home of the
                dashboard) will be tracked and if you share the old posts, that will not be counted in social media share.
            </li>
            <h2>Level Info</h2>
            <li>
                Social Leaderboard: On the basis of the level you are in, you’ll be given a points multiplier.
                <table>
                    <thead>
                        <tr>
                            <th>Level</th>
                            <th>
                                Points multiplier factor
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bronze</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Silver</td>
                            <td>1.2</td>
                        </tr>
                        <tr>
                            <td>Gold</td>
                            <td>1.5</td>
                        </tr>
                        <tr>
                            <td>Platinum</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                Benefits of higher levels-
            <ul type="disc">
                    <li>Earn more points for sharing a post by a factor of x
                    </li>
                    <li>Earn MI coins which can be later redeemed to get MI official merchandise, accommodation and other goodies from MI shop.
                    </li>
                    <li>Prizes will be given to the top performers on the social leaderboard
                    </li>
                    <li>Get in touch with us and help us in our social initiatives.</li>
                    <li>Get a chance to get called for offline Mood Indigo execution.
                    </li>
                    <li>Assured accommodation and VIP concert passes for Mood Indigo.
                    </li>
                </ul>
            </li>
            <h2>MI Store</h2>
            <li>MI Coins: There is a MI Store where you can redeem the MI Coins which you earned by doing activities. The coins can be used to purchase things such as free accommodation, passes, etc as well as some products from our sponsors.
            </li>
            <li>Remember, 2 Points = 1 MI coin</li>
            <h2>For You</h2>
            <li>The Edit Profile tab will contain personal details and it is mandatory to update your social media links so your shares can be tracked for rewarding you points.
            </li>
        </ol>
    
            <!-- <li>
                <b>Facebook</b>: To earn points for facebook social media share, make sure you first update your
                facebook id
                from
                edit profile tab and follow the official Mood Indigo page <a
                    href="https://www.facebook.com/iitbombay.moodi">here</a>. You need to like and share the new posts
                to earn social media share points. If you reshare a shared post then you won’t get points.
            </li>
            <li>
                <b>Instagram</b>: To earn points for Instagram social media share, make sure you first update your
                instagram
                id from the edit profile tab and follow the official Mood Indigo page <a
                    href="https://www.instagram.com/iitbombay.moodi/">here</a>. You need to
                follow the <a href="https://www.instagram.com/indigo_squad_2020/">account CCP</a>, we will follow back
                and
                you need to accept. You need to like and
                share the new posts to your story to earn social media share points. If you share it with close friends
                then
                you won’t get points.
            </li>
            <li>
                Sharing the old posts will not earn you points. The post has to be shared within 48 hours of timeframe
                from
                the time it is posted on our official handles. Only the topmost post on MI Corner(on the home of
                dashboard)
                will be tracked and if you share the old posts, that will not be counted in social media share.
            </li>
            <li>
                <b>LinkedIn</b>: To earn LinkedIn points make sure you first update your LinkedIn link in your edit
                profile
                and
                follow the official Mood Indigo page <a href="https://www.linkedin.com/company/mood-indigo/">here</a>.
                You
                need to have this sentence in your headline on your
                LinkedIn account - ‘Indigo Squad Member at Mood Indigo’. Find this video tutorial on how to update your
                LinkedIn profile- <a
                    href="https://drive.google.com/file/d/17OpzeYZvio-BW1jPVcr5UJQrhxOn2Zio/view?usp=sharing">here</a>
            </li>
            <li>There are 3 levels namely bronze, silver and gold. We will introduce a bonus level at the end of the
                program. Levels can be upgraded by performing predefined tasks for each level which can be found in the
                My
                Mood Indigo tab. You will be given better incentives for reaching higher levels.
            </li>
            <li>Like, follow, and subscribe to our official handle of Mood Indigo, IIT Bombay on Instagram, Facebook,
                Twitter, LinkedIn and Youtube so that your shares can be tracked.
            </li>
            <li>
                The <b>My Mood Indigo</b> tab includes weekly targets, weekly questions as well as the referral link to
                invite
                others. This tab also contains the latest updates of Mood Indigo. You can share these posts from the
                links
                provided to earn points.
            </li>
            <li>
                <b>Weekly Target</b>: This will show you a weekly target to earn bonus points and can be found in the My
                Mood
                Indigo Tab.
            </li>
            <li>
                <b>Weekly Question</b>: You can earn points by answering the weekly questions which will appear in the
                My
                Mood
                Indigo tab.
            </li>
            <li>
                The <b>Edit Profile</b> tab will contain personal details and it is mandatory to update your social
                media
                links so
                your shares can be tracked for rewarding you points.
            </li>
            <li>
                The <b>Scoreboard</b> tab contains various leaderboards where you can see the rankings of top-performing
                members
                and your own standing. We have also included city and college leaderboards so that you can keep track of
                the
                top performers and take your college and city to the first position.
            </li>
            <li>
                The <b>Blogs</b> tab is the place where you can share your emotions with the whole Indigo Squad. You can
                use
                this
                as a platform to share your talent with people across the country. For example: you can showcase your
                artwork through this platform or you can share your best MI memories.
            </li>
            <li>
                Points & Coins Tally System (Parameters to Earn Points)
                <ul>
                    <li>
                        Sharing our posts on social media(Facebook, Instagram, Twitter)
                    </li>
                    <li>
                        Using referral code to bring new registrations on our portal
                    </li>
                    <li>
                        Posting blogs in the Blogs tab
                    </li>
                    <li>
                        Answering weekly questions
                    </li>
                    <li>
                        Participating in monthly competitions
                    </li>
                    <li>
                        Completing weekly targets
                    </li>
                    <li>
                        Organizing events in your college and city
                    </li>
                </ul>
            </li>
            <li>
                <b>Social Leaderboard</b>: On the basis of the points earned in a fortnight(based on social media
                activity
                that
                includes sharing Mood Indigo’s posts), each participant will be given a points multiplier. If the points
                earned from your social media activity are more than 70% in comparison with the top scorer during the
                period
                of 14 days, then the multiplier allotted for next fortnight will be 1.5x. Example: During the upcoming
                week,
                if on sharing a post, 100 points are given, then points for 1x = 100, 1.15x = 115, 1.3x = 130, and 1.5x
                =
                150.
                The category wise <b>points range</b> is given in the table below:
                <table>
                    <tr>
                        <th>Points Range</th>
                        <th>Points multiplier</th>
                    </tr>
                    <tr>
                        <td>100% - 70%</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>70% - 50%</td>
                        <td>1.3</td>
                    </tr>
                    <tr>
                        <td>50% - 25%</td>
                        <td>1.15</td>
                    </tr>
                    <tr>
                        <td>25% - 0%</td>
                        <td>1</td>
                    </tr>
                </table>
                <p>
                <b>Benefits of higher categories</b>-
                </p>
                <ul>
                    <li>
                        Earn more points for sharing a post by a factor of x
                    </li>
                    <li>
                        Prizes will be given to the top performers on the social leaderboard
                    </li>
                </ul>
            </li>
            <li>
                <b>MI Coins</b>: There is an MI Shop where you can redeem the MI Coins which you earned by doing
                activities.
                The
                coins can be used to purchase things such as free accommodation, passes, etc as well as some products
                from
                our sponsors.
            </li>
            <li>
                <b>Learning of the Month</b>: You would be provided with material, resources, and competitions for
                learning,
                practicing, and applying various skills (for example, T-shirt design) at the end of every month. The
                winners
                of these competitions will receive additional incentives.
            </li>
            <li>
                Points for organizing events in the respective colleges will be variable depending on the scale of event
                and
                updating of points will occur after the verification from the team and on basis of the relevant images
                uploaded as proof in the blog section.
            </li>
            <li>
                If anyone is found to be involved in any type of invalid practise to earn faulty points, the Mood Indigo
                Core Team’s decision would be final for terminating the tenure of the participant.
            </li>
        </ol> -->

    </div>
</div>