<div class="container">
    <!-- <div class="heading">
        <div class="head first">
            MY MOOD INDIGO
        </div>
        <div class="head first">
            MI STORE
        </div>
    </div> -->
    <div class="scroll-container">
        <div class="scroll left">
            <div class="head first">
                MY MOOD INDIGO
            </div>
            <div class="info-container">
                <img class="avatar">
                <div class="info-details">
                    <div class="user-name">
                        <!-- name -->
                        Test Name
                    </div>
                    <div class="info-minum">
                        Indigo Squad
                    </div>
                    <div class="mi-num">
                        <!-- mi num -->
                        MI-XXX-111
                    </div>
                </div>
            </div>
            <div class="progress-container">
                <div class="progress-text">
                    {{curr_level}}
                    <div class="progress-dot"></div>
                    <div class="progress-dot"></div>
                    <div class="progress-dot"></div>
                    <div class="progress-dot"></div>
                    <div class="progress-dot"></div>
                    <div class="progress-dot"></div>
                    <div class="progress-dot"></div>
                    <div class="progress-dot"></div>
                    <div class="progress-dot"></div>
                    <div class="progress-dot"></div>
                    {{next_level}}
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar background"></div>
                    <div class="progress-bar foreground"></div>
                </div>
            </div>
            <div class="points-container">
                <div class="points-text">
                    CCP POINTS
                </div>
                <div class="points">
                    <!-- Points come here -->
                    {{score}}
                </div>
                <div class="assignment-list">
                    <!-- Assignments come here -->
                </div>
            </div>
        </div>
        <div class="scroll right">
            <div class="assignment-container">
                <div class="assignment-list">
                    <!-- Leaderboard comes here -->
                </div>
            </div>
        </div>
    </div>
</div>