<div class="container">
    <div class="top-nav">
        <div class="nav-item">
            MI CHAMPIONSHIP GUIDLINES
        </div>
        <div (click)="navigate('dashboard/compi-guidelines')" class="nav-item">
            GENERAL GUIDLINES
        </div>
    </div>
    <h1> MI Championship Queries</h1>
    <h2>Want to see your college at the top of the leaderboard! Here is how you can contribute and make your college the
        best college in India</h2>
    <h2>
        Check your college standing <a href="dashboard/compi-leaderboard">here</a>
    </h2>
    <h2>Incentives for our Champions</h2>
    <ul>
        <li>
            Certificates, Coupons, Internships, Courses, Merchandise and many more exciting prizes await!
        </li>
    </ul>


    <h2>POINT SYSTEM</h2>
    <ul>
        <li>
            A college will get “50” points for every valid entry in the first fortnight
        </li>
        <li>
            These points will decrease linearly every fortnight by “5” points. The point table is as follows:
        </li>
        <br>
        <table>
            <tr>
                <th>
                    Dates
                </th>
                <th>
                    Points for every entry sent in the given time frame (Solo/Duet competitions)
                </th>
                <th>
                    Points for every entry sent in the given time frame (Group competitions)
                </th>
            </tr>
            <tr>
                <td>
                    25 September - 10 October
                </td>
                <td>
                    50
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr>
                <td>
                    11 October - 25 October
                </td>
                <td>
                    45
                </td>
                <td>
                    225
                </td>
            </tr>
            <tr>
                <td>
                    26 October - 10 November
                </td>
                <td>
                    40
                </td>
                <td>
                    200
                </td>
            </tr>
            <tr>
                <td>
                    11 November - 25 November
                </td>
                <td>
                    35
                </td>
                <td>
                    175
                </td>
            </tr>
            <tr>
                <td>
                    25 November Onwards
                </td>
                <td>
                    30
                </td>
                <td>
                    150
                </td>
            </tr>
        </table>
        <br>
        <li>
            The entry will be considered valid only if it follows every rule of the particular competition. Failure to
            do so may result in the college being disqualified from the overall championship.
        </li>
        <li>
            There will be extra points for the winners of every competition.
        </li>
        <li>
            Table of point system for the winners is as follows:
        </li>
        <br>
        <table>
            <tr>
                <th colspan="7">
                    Dance
                </th>
            </tr>
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Competition Subtitle
                </th>
                <th>
                    1st Prize
                </th>
                <th>
                    2nd Prize
                </th>
                <th>
                    3rd Prize
                </th>
                <th>
                    4th Prize
                </th>
                <th>
                    5th Prize
                </th>
            </tr>
            <tr>
                <td>
                    Nrityanjali
                </td>
                <td>
                    Solo Classical Dance Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    MI The Best
                </td>
                <td>
                    Solo Dance Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Desi Beats
                </td>
                <td>
                    Group Western Dance Competition
                </td>
                <td>
                    800
                </td>
                <td>
                    700
                </td>
                <td>
                    600
                </td>
                <td>
                    550
                </td>
                <td>
                    500
                </td>
            </tr>
            <tr>
                <td>
                    Indigo Saga
                </td>
                <td>
                    Group Thematic Dance Competition
                </td>
                <td>
                    800
                </td>
                <td>
                    700
                </td>
                <td>
                    600
                </td>
                <td>
                    550
                </td>
                <td>
                    500
                </td>
            </tr>
            <tr>
                <td>
                    Sanskriti
                </td>
                <td>
                    Group Folk Dance Competition
                </td>
                <td>
                    800
                </td>
                <td>
                    700
                </td>
                <td>
                    600
                </td>
                <td>
                    550
                </td>
                <td>
                    500
                </td>
            </tr>

            <br>
            <tr>
                <th colspan="7">
                    Design & Digital Arts
                </th>
            </tr>
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Competition Subtitle
                </th>
                <th>
                    1st Prize
                </th>
                <th>
                    2nd Prize
                </th>
                <th>
                    3rd Prize
                </th>
                <th>
                    4th Prize
                </th>
                <th>
                    5th Prize
                </th>
            </tr>
            <tr>
                <td>
                    Cursor Strokes
                </td>
                <td>
                    Photoshop Manipulation Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Comic Mood
                </td>
                <td>
                    Online Comic Making Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Avatarist
                </td>
                <td>
                    Character Designing Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Pixellence
                </td>
                <td>
                    Online Photography Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Life in a Minute
                </td>
                <td>
                    One-Minute Movie Making Competiiton
                </td>
                <td>
                    600
                </td>
                <td>
                    500
                </td>
                <td>
                    450
                </td>
                <td>
                    400
                </td>
                <td>
                    350
                </td>
            </tr>
            <tr>
                <td>
                    Cinestory
                </td>
                <td>
                    Scrpitwriting Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>

            <br>
            <tr>
                <th colspan="7">
                    Dramatics
                </th>
            </tr>
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Competition Subtitle
                </th>
                <th>
                    1st Prize
                </th>
                <th>
                    2nd Prize
                </th>
                <th>
                    3rd Prize
                </th>
                <th>
                    4th Prize
                </th>
                <th>
                    5th Prize
                </th>
            </tr>
            <tr>
                <td>
                    The Chosen One
                </td>
                <td>
                    Mono-Acting Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    MI Vines
                </td>
                <td>
                    Online Sketch Comedy Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>

            <br>
            <tr>
                <th colspan="7">
                    Fine Arts
                </th>
            </tr>
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Competition Subtitle
                </th>
                <th>
                    1st Prize
                </th>
                <th>
                    2nd Prize
                </th>
                <th>
                    3rd Prize
                </th>
                <th>
                    4th Prize
                </th>
                <th>
                    5th Prize
                </th>
            </tr>
            <tr>
                <td>
                    Rangeela
                </td>
                <td>
                    Watercolour Painting Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Mood-ling
                </td>
                <td>
                    Doodling competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Mono Strokes
                </td>
                <td>
                    Sketching competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Creatter
                </td>
                <td>
                    Lettering Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Kala Mandala
                </td>
                <td>
                    Mandala Art Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>

            <br>
            <tr>
                <th colspan="7">
                    Journalism & Communication
                </th>
            </tr>
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Competition Subtitle
                </th>
                <th>
                    1st Prize
                </th>
                <th>
                    2nd Prize
                </th>
                <th>
                    3rd Prize
                </th>
                <th>
                    4th Prize
                </th>
                <th>
                    5th Prize
                </th>
            </tr>
            <tr>
                <td>
                    Reportage
                </td>
                <td>
                    Anchoring Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    The MI Times
                </td>
                <td>
                    Print Journalism Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Spotlight
                </td>
                <td>
                    Investigative Journalism Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>

            <br>
            <tr>
                <th colspan="7">
                    Literary Arts
                </th>
            </tr>
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Competition Subtitle
                </th>
                <th>
                    1st Prize
                </th>
                <th>
                    2nd Prize
                </th>
                <th>
                    3rd Prize
                </th>
                <th>
                    4th Prize
                </th>
                <th>
                    5th Prize
                </th>
            </tr>
            <tr>
                <td>
                    Pen-Tastic
                </td>
                <td>
                    Online English Creative Writing Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Kora Kagaz
                </td>
                <td>
                    Online Hindi Creative Writing Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Pantomath
                </td>
                <td>
                    General quiz
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Trivia 2k20
                </td>
                <td>
                    2020 Quiz
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Spell-Bound
                </td>
                <td>
                    Spelling Bee
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Wordemort
                </td>
                <td>
                    Word Games Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>

            <br>
            <tr>
                <th colspan="7">
                    Magic & Lifestyle
                </th>
            </tr>
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Competition Subtitle
                </th>
                <th>
                    1st Prize
                </th>
                <th>
                    2nd Prize
                </th>
                <th>
                    3rd Prize
                </th>
                <th>
                    4th Prize
                </th>
                <th>
                    5th Prize
                </th>
            </tr>
            <tr>
                <td>
                    Chef’s Corner
                </td>
                <td>
                    Cooking Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Trashion
                </td>
                <td>
                    Fashion with Trash Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    MI-gician
                </td>
                <td>
                    Magic Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Panache
                </td>
                <td>
                    Online Modelling Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Mood Indigo’s Cosplay
                </td>
                <td>
                    Cosplay Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Mr & Ms Mood Indigo
                </td>
                <td>
                    Personality Hunt Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    She’s Got The Look
                </td>
                <td>
                    Beauty Pageant Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <br>
            <tr>
                <th colspan="7">
                    Music
                </th>
            </tr>
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Competition Subtitle
                </th>
                <th>
                    1st Prize
                </th>
                <th>
                    2nd Prize
                </th>
                <th>
                    3rd Prize
                </th>
                <th>
                    4th Prize
                </th>
                <th>
                    5th Prize
                </th>
            </tr>
            <tr>
                <td>
                    Surshringar
                </td>
                <td>
                    Solo Classical Music Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    MI Idol
                </td>
                <td>
                    Hindi Solo Singing Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Singing The Indigos
                </td>
                <td>
                    English Solo Singing Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    MI’nem
                </td>
                <td>
                    Solo Rap Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Virtuoso
                </td>
                <td>
                    Solo Instrumental Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Larynx
                </td>
                <td>
                    Beatboxing Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Hysteria
                </td>
                <td>
                    Semi Professional DJ Hunt
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Mantra
                </td>
                <td>
                    Battle of the Bands
                </td>
                <td>
                    800
                </td>
                <td>
                    700
                </td>
                <td>
                    600
                </td>
                <td>
                    550
                </td>
                <td>
                    500
                </td>
            </tr>
            <br>
            <tr>
                <th colspan="7">
                    Speaking Arts
                </th>
            </tr>
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Competition Subtitle
                </th>
                <th>
                    1st Prize
                </th>
                <th>
                    2nd Prize
                </th>
                <th>
                    3rd Prize
                </th>
                <th>
                    4th Prize
                </th>
                <th>
                    5th Prize
                </th>
            </tr>
            <tr>
                <td>
                    Moodcast
                </td>
                <td>
                    Podcast Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Mehfil-e-Indigo
                </td>
                <td>
                    Hindi Poetry Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Humor Us
                </td>
                <td>
                    Stand-Up Comedy Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Poetry Slam
                </td>
                <td>
                    English Slam Poetry Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Speak Up
                </td>
                <td>
                    Debate Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Just A Minute
                </td>
                <td>
                    English Extempore Competition
                </td>
                <td>
                    400
                </td>
                <td>
                    300
                </td>
                <td>
                    200
                </td>
                <td>
                    150
                </td>
                <td>
                    100
                </td>
            </tr>
        </table>
    </ul>
    <h2>
        Check your college standing <a href="dashboard/compi-leaderboard">here</a>
    </h2>
</div>