<div class="container">
    <div class="top-nav">
        <div (click)="navigate('dashboard/championship-guidelines')" class="nav-item">
            MI CHAMPIONSHIP GUIDLINES
        </div>
        <div class="nav-item">
            GENERAL GUIDLINES
        </div>
    </div>
    <h1> General Queries</h1>
    <h2>REGISTRATION</h2>
    <ol>
        <li>
            <b>How to register for a competition?</b>
            <ul>
                <li>
                    Participants need to visit my.moodi.org/competitions
                </li>
                <li>
                    Click on the “Register” button and proceed with the Google Sign in if you have not done that
                    already.
                </li>
                <li>
                    All participants get a mail with their MI number which confirms their registration on my.moodi.org
                </li>
                <li>
                    If a participant is signed in, then a dashboard icon will be visible at the top right corner on
                    my.moodi.org
                </li>
                <li>
                    Navigate to dashboard > A “Competitions” tab can be seen at the left > Select this option
                </li>
                <li>
                    Select the genres in which you are interested and inside the genre tab, you will find the online
                    competitions we are having this year.
                </li>
                <li>
                    Click on the “Register” button on the top right to register for the competition
                </li>
                <li>
                    The Mood Indigo team will provide you with regular information (through mails or calls) for
                    participation.
                </li>
            </ul>
        </li>
        <br>
        <li>
            <b>Is there a deadline to register for the competitions?</b>
            <ul>
                <li>
                    There is no such deadline to register. Participants will have to register before 30th November 2020
                    (which is the common deadline for all competitions) to take part in these competitions
                </li>
            </ul>
        </li>
        <br>
        <li>
            <b>Where do I register for these online competitions?</b>
            <ul>
                <li>
                    Visit www.my.moodi.org/competitions for all the information.
                </li>
            </ul>
        </li>
        <br>
        <li>
            <b>I didn’t take part in these online eliminations. Can I take part in Mood Indigo?</b>
            <ul>
                <li>
                    No, you cannot take part in the main competitions. Due to these uncircumstantial situations, all the
                    competitions launched for now have online eliminations, and there would be no further eliminations
                    for these competitions
                </li>
            </ul>
        </li>
        <br>
        <li>
            <b>Am I supposed to register for the group competition myself?</b>
            <ul>
                <li>
                    If you are the team leader, you must go to the competition you are interested in and create a team
                    and then add the MI Numbers of all your team members. If you are NOT the team leader, ask the team
                    leader to add your MI Number in the team.
                </li>
            </ul>
        </li>
    </ol>


    <h2>ELIGIBILITY</h2>
    <ol>
        <li>
            <b>Who can participate in these competitions? Is there any fee involved for registration?</b>
            <ul>
                <li>
                    Any college student can take part in these competitions. There is no registration fee for
                    participation
                </li>
            </ul>
        </li>
    </ol>
    <h2>COMPETITIONS AND SELECTIONS</h2>
    <ol>
        <li>
            <b>What kind of competitions are being conducted right now?</b>
            <ul>
                <li>
                    We are conducting only solo competitions right now
                </li>
                <li>
                    There are two kinds of competitions being conducted right now
                    <ul>
                        <li>
                            1- Competitions with online eliminations
                        </li>
                        <li>
                            2- Purely online competitions
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <b>What are Wild-Cards?</b>
            <ul>
                <li>
                    For every online elimination, we will select a particular number of finalists for the main
                    competition
                </li>
                <li>
                    Apart from these, we will also select top performers from every zone for the main competitions which
                    will be called Wild-cards. For more information on zones and wild-cards, visit
                    my.moodi.org/competitions
                </li>
            </ul>
        </li>
        <br>
        <li>
            <b>Will competitions be conducted on-ground this year?</b>
            <ul>
                <li>
                    The competitions launched currently have Online Eliminations. If situation improves then the higher
                    rounds for these competitions will be conducted on ground, otherwise the higher rounds will also be
                    conducted online
                </li>
            </ul>
        </li>
    </ol>



    <h2>MOOD INDIGO CHAMPIONSHIP</h2>
    <ol>
        <li>
            <b>What is the Overall Mood Indigo Championship?</b>
            <ul>
                <li>
                    Every entry carries some participation points along with some extra points for the top 5 positions.
                    You can look at the point system here( Link).
                </li>
                <li>
                    These points will be given to the college of a participant .The college with the most number of
                    points after the end of the competitions will be crowned the Overall Mood Indigo Champion
                </li>
                <li>
                    Check the live leaderboard here (Link)
                </li>
            </ul>
        </li>
        <br>
        <li>
            <b>What is the Genre-Wise Championship?</b>
            <ul>
                <li>
                    5 genres (Dance, music, dramatics, FIne arts, Speaking Arts) will follow the same point system as
                    explained above
                </li>
                <li>
                    The college with the most number of points in that genre will be crowned the Genre Champion
                </li>
                <li>
                    Check the live leaderboard here (Link)
                </li>
            </ul>
        </li>
    </ol>

    <h2>GROUP COMPETITIONS</h2>
    <ol>
        <li>
            <b>Will any group competitions be conducted this year?</b>
            <ul>
                <li>
                    Group competitions this year will happen if the COVID-19 situation improves. Follow the Instagram
                    page of Mood Indigo for updates.
                </li>
            </ul>
        </li>
    </ol>

    <h2>RESULTS</h2>
    <ol>
        <li>
            <b>When will be results announced for these Online Competitions?</b>
            <ul>
                <li>
                    The result of all these competitions will be announced within 15 days after the deadline is over
                </li>
            </ul>
        </li>
        <br>
        <li>
            <b>When and where will the results of these online competitions be announced?</b>
            <ul>
                <li>
                    The results will be e-mailed to all the participants
                </li>
            </ul>
        </li>
    </ol>

    <h2>PRIZES AND LYPs</h2>
    <ol>
        <li>
            <b>What is an LYP?</b>
            <ul>
                <li>
                    LYP stands for Live Your Passion. This is an initiative taken up by Mood Indigo in order to promote
                    and showcase the talent of winners. Visit the Prizes and LYP tab in every competition to check out
                    for some exciting incentives
                </li>
            </ul>
        </li>
        <br>
        <li>
            <b>Will I get a certificate for participation in competitions during Mood Indigo?</b>
            <ul>
                <li>
                    All the participants of all the competitions shall get a digital certificate after Mood Indigo
                </li>
            </ul>
        </li>
    </ol>

    <h2>MULTICITIES</h2>
    <ol>
        <li>
            <b>Will multicities happen this year?</b>
            <ul>
                <li>
                    Multicities will not be conducted this year
                </li>
            </ul>
        </li>
    </ol>
</div>