<!-- <div class="loader">
    <div class="loader-div">
        <div id="lottie2"></div>
    </div>
</div> -->
<!-- <body> -->
    <div class="signin1">
        <button (click)="navigate('signup')" class="above-all">SIGN UP</button>
    </div>
<div class="back">

<div class="main">
    <div class="my-logo">
        <img (click)="navigate('')" class="logo" src="../assets/Icon/my_icon.svg">
    </div>
    <div class="social-container">    
        <div class="social">
            <div (click)="navigate('ccp')" class="social-logo">
                CCP
            </div>
            <div (click)="navigate('iap')" class="social-logo">
                IAP
            </div>
            <div (click)="navigate('competitions')" class="social-logo">
                COMPETITIONS
            </div>
            <div (click)="navigate('influencer')" class="social-logo">
                INFLUENCER
            </div>
            <div (click)="navigate('shop')" class="social-logo">
                MI SHOP
            </div>
            <!-- <img class="social-logo" src="../assets/instagram.svg">
            <img class="social-logo" src="../assets/instagram.svg">
            <img class="social-logo" src="../assets/instagram.svg"> -->
        </div>
    </div>
    <div class="signin">
        <button class="signin-button" (click)="navigate('signup')">SIGN UP</button>
    </div>
</div>

    <div class="tear-content">
        <div class="heading-bottom">
            <div class="text normal">
                MI SHOP
            </div>
            <!-- <div class="text mask">
                MI SHOP
            </div> -->
        </div>
        <div class="intro description">
            <div class="sub-heading1">
               <i>Mood Indigo in its 50th edition has come to introduce new measures to provide bigger and better benefits to everyone.

                Introducing MI Coins, the new way to earn, transact & enjoy at
                
             Mood Indigo.</i>
            </div>
        </div>
        <div class="coming-soon">
            COMING SOON!
        </div>
        <img class="badge" src="../../assets/CAP Landing Page/Coin.png">
        <div class="faq heading-bottom">
            <div class="text normal">
                FAQs
            </div>
            <div class="text mask">
                FAQs
            </div>
        </div>
        <div class="intro description">
            <div class="row">
                <div class="column">
                  <h2>How does MI Coin work?</h2>
                  <p>The MI coins can be used to purchase things such as merchandise, accommodation, etc and many more exciting products such as headphones and bluetooth speakers.</p>
                  <hr class="n">
                  <h2>How do I earn MI Coins?</h2>
                  <p>The coins can be earned by registering in various programs like CCP, IAP and Competitions. There will be regular tasks available in CCP through which you can earn a lot of MI Coins.</p>
                  <hr class="n">
                </div>
                <div class="column">
                  <h2>Are MI Coins transferable to other participants?</h2>
                  <p>Sorry! You cannot transfer MI Coins to another participant. You can use it at MI Shop for all transactions.</p>
                  <hr class="n">
                  <h2>Do MI Coins expire?</h2>
                  <p>Yes. If you do not show any activity on CCP portal for straight one month, then all your MI Coins will expire.</p>
                  <hr class="n">
                </div>
              </div>
        </div>
          <div class="heading-bottom3">
                    <div>
                        <i>Terms and Conditions</i>
                    </div>
          </div>
        <div class="tnc intro description">           
            <div class="sub-desc">
                <ol type = "1">
                    <i>
                    <li>MI coin is solely a copyright of Mood Indigo and its circulation outside is punishable by law.</li>
                    <li>MI coins do not hold any monetary value in any currency exchange.</li>
                    <li>Ml coins can only be redeemed in the MI shop.</li>
                    <li>The purchased item will be provided to you at Mood Indigo only. In no circumstances shall Mood Indigo be held responsible for any loss that you incur.</li>
                    <li>Mood Indigo core team reserves the right to change the prices and offers provided at MI shop.</li>
                    <li>It is your responsibility to keep your password safe. Any loss incurred by sharing your password with a third party is your responsibility.</li>
                    </i>               
                 </ol>
            </div>
        </div>
    </div>
    <img class="cloud-top" src="../../assets/Clouds/cloud_1.webp">
    <img class="cloud-top2" src="../../assets/Clouds/cloud_2.webp">
    <img class="cloud-top3" src="../../assets/Clouds/cloud_1.webp">
</div>

<!-- </body> -->