<div class="container">
    <h1> Guidelines</h1>
    <ol class="main">
        <li>
            Tasks will be visible in the influencer tab of the dashboard. The tasks will be of two types<br> a) which
            are
            common for all the influencers <br> b) which depend on the field of your influence that you have selected
            while
            registering
        </li>
        <li>
            <b>Task Checkbox</b>: Within 48 hrs of the task, you will have to complete the task and check
            against done on the influencer tab. Failure to do so will result in not crediting your points for the given
            task
        </li>
        <li>
            Points may take 48-72 Hrs to credit.
        </li>
        <li>
            Earning points on Instagram:
            <ul>
                <li>
                    The tasks given to you will mention the topic for your post, the type of post (normal post, reel,
                    igtv, story) and will provide you with a suitable additional creative.
                </li>
                <li>
                    We encourage you to bring out the maximum creative output in you, thus for any post, Influencers who
                    use their own creative (with the content provided in the task) will earn extra points
                </li>
                <li>
                    Points Table
                    <table>
                        <tr>
                            <th>
                                Activity
                            </th>
                            <th>
                                Points
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Reposting MI post using a repost app
                            </td>
                            <td>
                                50
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Posting self-made creative
                            </td>
                            <td>
                                100
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Posting an igtv
                            </td>
                            <td>
                                100
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Swipe up story (only 10k+ or verified accounts can do this)
                            </td>
                            <td>
                                500
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Insta story
                            </td>
                            <td>
                                25
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    Points will only be accounted for any task given. The tasks given under Influencer Tab will only be
                    considered and these tasks have no relation to any CCP activity.
                </li>
                <li>
                    Points will only be credited if @iitbombay.moodi is tagged
                </li>
            </ul>
        </li>
        <li>
            Earning Points on Facebook:
            <table>
                <tr>
                    <th>
                        Activity
                    </th>
                    <th>
                        Points
                    </th>
                </tr>
                <tr>
                    <td>
                        Reposting on Facebook (using MI creative)
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        Posting self-made creative (Facebook)
                    </td>
                    <td>
                        100
                    </td>
                </tr>
            </table>
            <ul>
                <li>
                    Points will only be credited if @iitbombay.moodi is tagged
                </li>
            </ul>
        </li>
        <li>Earning Twitter Points:<br>
            Content of the tweet will be given
            <table>
                <tr>
                    <th>
                        Activity
                    </th>
                    <th>
                        Points
                    </th>
                </tr>
                <tr>
                    <td>
                        Tweet (@iitb_moodi to be tagged)
                    </td>
                    <td>
                        75
                    </td>
                </tr>
            </table>
        </li>
        <li>
            Bonus Points<br>
            These points will be automatically credited to your account
            <table>
                <tr>
                    <td>
                        If your post gets more than 100 likes
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        If your post gets more than 200 likes
                    </td>
                    <td>
                        80
                    </td>
                </tr>
                <tr>
                    <td>
                        If your post gets more than 500 likes
                    </td>
                    <td>
                        250
                    </td>
                </tr>
                <tr>
                    <td>
                        If your post gets more than 1000 likes
                    </td>
                    <td>
                        500
                    </td>
                </tr>
                <tr>
                    <td>
                        If your post gets more than 2000 likes
                    </td>
                    <td>
                        750
                    </td>
                </tr>
                <tr>
                    <td>
                        If your post gets more than 3000 likes
                    </td>
                    <td>
                        1000
                    </td>
                </tr>
                <tr>
                    <td>
                        If your post gets more than 5000 likes
                    </td>
                    <td>
                        3000
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td>
                        2+ posts in a week
                    </td>
                    <td>
                        100
                    </td>
                </tr>
                <tr>
                    <td>
                        For every 1000 points
                    </td>
                    <td>
                        bonus 100 points
                    </td>
                </tr>
            </table>
        </li>
        <li>
            Why do I want to be at the top of the leaderboard?
            <ul>
                <li>
                    Priority access to Influencer meet and workshops along with the privilege to personally chat with
                    the speakers
                </li>
                <li>
                    Internships
                </li>
                <li>
                    More points will earn you more coupons
                </li>
            </ul>
        </li>
    </ol>
</div>